.booking-card{

    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.buttons{

    display:flex;
    gap:15px;
    margin-top:20px;

}

.accept{

    background:#16a34a;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;

}

.reject{

    background:#dc2626;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;

}
