.worker-profile{
    max-width:900px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}


.worker-profile h1{
    color:#1565c0;
    margin-bottom:15px;
}

.worker-profile p{
    font-size:18px;
    margin:12px 0;
}

.booking-btn{
    display:inline-block;
    margin-top:25px;
    background:#1976d2;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border-radius:8px;
    font-weight:bold;
}

.booking-btn:hover{
    background:#0d47a1;
}